:root {
    --main-bg-color: lightblue;
    --main-text-color: darkblue;
    --accent-color: orange;
    --nav-bg-color: darkblue;
    --nav-text-color: white;
    --aside-bg-color: #eee;
    --aside-text-color: #333;
    --border-color: #000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; /% shorthand for white %/
}

.grid {
    display: grid;
    align-items: center;
}

h1 {
    color: var(--main-text-color);
    border-bottom: 2px solid var(--main-bg-color);
}
main img {
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 1rem;
}
main {
    grid-column: 2/3;
    margin: 1rem
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--aside-bg-color);
    color: var(--aside-text-color);
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 100px;
    left: 90px;
    color: var(--nav-text-color);
}

/* class box*/

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: var(--aside-bg-color);
    color: var(--aside-text-color);
}

.indent {
    padding-left: 1rem;
}

header, footer, .grid{
    max-width: 840px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
}